{% extends "base_generic.html" %}

{% block content %}
  <h2>Borrowed books</h2>
  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Borrower</th>
        <th>Date of borrowing</th>
      </tr>
    </thead>
    <tbody>
      {% for borrow in borrowed_books %}
        <tr>
          <td>{{ borrow.book.title }}</td>
          <td>{{ borrow.borrower.username }}</td>
          <td>{{ borrow.borrowed_at }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">There are no borrowed books.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}